## .gitignore file for project
## generic file ignore
*.lock
*.DS_Store
*.swp
*.out
## Project file and directory ignore
build/*
## IDE Specific ignores
.idea/*
*.iml
*.sublime-project
*.sublime-workspace
## Node ignore
node_modules/
bower_modules/
apikeys/

tessel/twilio.js

notes.txt
todo.txt
